.navegador{
    /*Aplico fondo y gradiente*/
    background-color: #CCE5FF;
    background: -moz-linear-gradient(top, #CCE5FF 0%, #FFFFFF 100%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #CCE5FF 0%, #FFFFFF 100%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #CCE5FF 0%, #FFFFFF 100%, #FFFFFF 100%);
    margin-bottom: 5px;
}

#icons_navegator {
    display: flex;
    width: 100%;
    justify-content: center;
    #icons_navegator_body{
        display: flex;
   }
}

#login_navegator :first-child {
    margin-right: 5px;
    font-size: 14px; 
}

#title_navegator{
    cursor: pointer;
    width: 100%;
    h4{
        font-size: x-large;
        /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
        color: black;
    }
}

#login_navegator :last-child{
    font-size: 12px;
}

#login_navegator{
    width: 100%;
}

.btnCloseSeccion{
    margin-left: 4px;
    width: auto;
}