.Cuerpo :first-child row{
    padding: 0px;
   
}
.col{
    padding-right: 0px;
    padding-left: 0px;;
}

.filaButtonAñadir{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    a{
        color: white;
    }
    a:hover{
        color: white;
    }
}